html,
body {
  margin: 0;
}

main {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}
.brand {
  position: fixed;
  left: 16px;
  bottom: 0;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  opacity: 0.25;
}
.container {
  display: flex;
  align-items: center;
  article {
    flex: 1;
    img {
      position: fixed !important;
      z-index: -99;
    }
  }
  section {
    flex: 1;
    min-height: 100vh;
    .featureTitle {
      font-family: 'Rozha One', serif;
      font-size: 96px;
      line-height: 85.2%;
      margin: 7rem 0 0 0;
      transform: translateX(-40%);
      color: rgba(153, 132, 113, 0.8);
      z-index: 99;
    }
    .featureArticles {
      margin: 6rem 0 0 0;
      padding: 0 3em;
    }
  }
}
.nav {
  background-color: transparent !important;
}
.toolBar {
  display: flex;
  justify-content: space-between;
}
.articleTitle {
  font-family: 'Rozha One', serif !important;
  line-height: 85.2%;
  color: #424242;
  opacity: 0.65;
}
.categories-articles {
  padding: 5rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  text-align: center;
  margin: 4rem 0 2rem 0;
}

@media (max-width: 700px) {
  .nav {
    background-color: #fafafa !important;
  }
  .container {
    article {
      display: none;
    }
    section {
      .featureTitle {
        transform: translateX(0);
        padding: 0 2rem 0 4rem;
        font-size: 72px;
        margin: 7rem 0 1rem 0;
      }
      .featureArticles {
        margin: 4rem 0 0 0;
        padding: 0 2em 0 4rem;
      }
    }
  }
  .categories-articles {
    padding: 4rem 2rem 4rem 4rem;
  }
}
